/* Toggle Switch Button */
.switch-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: background 0.3s, transform 0.3s;
    margin: 50px;
}


.switch-btn:hover {
    transform: scale(1.1);
}


.dark-mode .switch-btn {
    background: #444;
}

.dark-mode {
    background-color: #121212;
    color: #eaeaea;
}


.dark-mode .container {
    background: #1f1f1f;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


.dark-mode textarea {
    background: #2b2b2b;
    color: white;
    border: 1px solid #555;
}


.dark-mode #toggleMode {
    background: #444;
    color: white;
}


.dark-mode #saveBtn {
    background: #8a7dff;
}


.dark-mode .entry {
    background: #2a2a2a;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    background: white;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 10px 15px 15px 15px rgba(182, 34, 125, 0.2);
}


textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
}


button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}


.entry {
    background: white;
    padding: 30px;
    margin-top: 10px;
    box-shadow:
        10px 4px 10px 10px rgba(196, 58, 143, 0.1);
}



#saveBtn {
    background-color: rgb(248, 105, 248);
    color: white;
    border: none;
    border-radius: 5px;
}

#saveBtn:hover {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
}

.editBtn,
.deleteBtn {
    background-color: rgb(248, 105, 248);
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 10px;
}

.editBtn:hover,
.deleteBtn:hover {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 10px;
}




/*  Mobile Responsiveness */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 5px 10px rgba(182, 34, 125, 0.15);
    }

    textarea {
        height: 100px;
        font-size: 14px;
    }

    .entry {
        padding: 10px;
        font-size: 14px;
    }

    #saveBtn,
    .editBtn,
    .deleteBtn {
        width: 100%;
        padding: 12px;
        margin-top: 8px;
    }

    .switch-btn {
        width: 40px;
        height: 40px;
        font-size: 18px;
        margin: 20px;
    }
}